<h1><%= @figure.name %></h1>

<h2>Titles</h2>

<ul>
  <% @figure.titles.each do |title| %>
    <li><%= title.name %></li><br>
  <% end %>
</ul>

<h2>Landmarks</h2>

<ul>
  <% @figure.landmarks.each do |landmark| %>
    <li><b>Name:</b> <%= landmark.name %> <b>Year Completed:</b><%= landmark.year_completed %></li><br>
  <%end%>
</ul>
